.container{
    background-color: aquamarine;
    margin: 2%;
    padding: 15px;
    border-radius: 5px;
    border: solid 3px black;
    box-shadow: 10px 10px 10px;
}
input{
    margin-bottom: 3px;
}
h1{ 
    font-family: sans-serif;
}
#szamitgomb{
    padding: 5px;
    background-color: rgb(223, 220, 215);
    position: absolute;
    margin-left: 220px;
    top: 160px;
    border-color: aliceblue;
}